* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 150px;
  align-items: center;
  background-color: #1B1717;
}
.navbar a {
  color: white;
  text-decoration: none;  
}
.container {
  padding: 100px 0;
  width: 640px;
  margin: auto;
}
.balance {
  display: flex;
  flex-direction: column;
}
.balance h4 {
  padding: 10px 0;
}
.balance > h1 {
  padding-bottom: 10px;
}
.inc-exp {
  display: flex;
  flex-direction: row;
  width: 300px;
  box-shadow: 2px 2px 5px 3px gray;
}
.income , .expense {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
  padding: 20px 25px;
}
.income {
  color: green;
}
.expense {
  color: darkred;
}
.history {
  padding: 20px 0;
}
.list {
  list-style-type: none;
  padding: 20px 0;
}
.transaction {
  display: flex;
  justify-content: space-between;
  border-right: 10px solid black;
  padding: 10px 5px;
}
hr {
  padding: 1px 0;
  border: none;
  border-bottom: 1px solid gray;
}
.add-transaction {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}
input {
  padding: 5px 0;
}
.add-transaction > h3 {
  padding: 10px 0;
}
.btn {
  margin-top: 10px;
  border: 1px solid black;
  background-color: rgb(48, 211, 148);
  padding: 12px;
}
.form-control {
  display: flex;
  flex-direction: column;
}
.amount {
  display: flex;
}
.minus {
  border-right: 5px solid darkred;
}
.plus {
  border-right: 5px solid green;
}
.delete {
  background: rgb(218, 0, 0);
  color: white;
  border: 2px solid black;
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
}